<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="SmartHoldr - Innovez vos goodies avec des porte-cartes personnalisés pour smartphone">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
      <meta property="og:image" content="img/logo.png" />
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="140">
<meta property="og:image:height" content="112">
    <title>Smart Holdr - Grille Tarifaire</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/creative.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110091754-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110091754-1');
</script>
<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="c4636c74-11ff-4a09-baa9-9885ca4eb29b";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
<script id="scriptrm">
    function removecrisp(){
      if($('.crisp-165').html()!=""){
      $('.crisp-165').html('');
      }
      else{
        clearInterval(rmt);
      }
    }
      var rmt=window.setInterval(removecrisp, 500);
    </script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KWMHVNC');</script>
    <!-- End Google Tag Manager -->
  </head>

  <body id="page-top">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KWMHVNC"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->    
<div class="loading" id="load" style="display:none;"></div>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink" id="mainNav" style="padding:0;">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/"><img src="img/logo.png" style="width:168px;height:92px;" /></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/">Concept</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/">Avantages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/commander">Commander</a>
            </li>             
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/">Références</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/aboutus">A propos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/grille">Tarifs</a>
            </li>            
          </ul>
        </div>
      </div>
    </nav>

    <section style="margin-top:100px;">
        <div class="container text-center">
            <h2>A propos</h2>
            <hr>
          </div>

      <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6" style="text-align:center;">
              <img src="img/about_mockup.png" />

            </div>
            <div class="col-xs-12 col-sm-4 col-md-6">
              <p style="text-align:center;color:#1b98bb;">
                  Découvrez un accessoire adapté aux dimensions de votre Smartphone !

              </p>
              Ce porte-cartes qui se colle derrière le Smartphone vous permet de faire la promotion de votre marque.               
            </div>
        </div>
<br /><br />
        <div class="row reorder-xs">

                     
            <div class="col-xs-12 col-sm-4 col-md-6">

                <p style="text-align:center;color:#1b98bb;">
                    Un porte cartes à l'image de votre marque​
  
                </p>
                Choisissez parmi nos choix de couleurs et apposez votre logo sur votre porte cartes. 
                <br />Profitez d'une impression réalisée en France.

            </div>
            <div class="col-xs-12 col-sm-8 col-md-6" style="text-align:center"><img src="img/about_01.jpg" style="width:50%;" /></div>   
          </div><br /><br/>
          <div class="row">
              <div class="col-xs-12 col-sm-8 col-md-6" style="text-align:center;">
                <img src="img/about_02.jpg" style="width:40%;" />
  
              </div>
              <div class="col-xs-12 col-sm-4 col-md-6">
                <p style="text-align:center;color:#1b98bb;">
                    Découvrez nous
  
                </p>
                Vous êtes une entreprise, une école ou bien vous cherchez simplement à faire la promotion d'un événement ?
                <br /><a href="mailto:contact@smartholdr.fr">Contactez nous</a> pour obtenir un devis personnalisé.              
              </div>
          </div>
  <br /><br />

      </div>
    </section>





    <footer class="bg-primary">
        <div class="container">
      
            <div class="row">
                <div class="col-lg-3 text-center">
                    <ul style="list-style: none;margin:0;padding:0px;font-size:12px;">
                        <li><a href="mailto:contact@smartholdr.fr" style="color:#FFF;">contact@smartholdr.fr</a></li>
                        <li><a href="tel:+33610547272" style="color:#FFF;">06 10 54 72 72</a></li>
                        <li>47, rue du Four</li>
                        <li>75006 Paris</li>
                      </ul>            
                    <img src="img/logo.png" />
                </div>
                <div class="col-lg-9 text-center">
                    <a href="/cgv" style="color:#FFF;"><u>Conditions générales de vente</u></a>
                              </div>
              </div>
            </div>
          </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.js"></script>

  </body>

</html>
