<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="SmartHoldr - Innovez vos goodies avec des porte-cartes personnalisés pour smartphone">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
      <meta property="og:image" content="img/logo.png" />
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="140">
<meta property="og:image:height" content="112">
    <title>Smart Holdr - Grille Tarifaire</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/creative.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110091754-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110091754-1');
</script>

  </head>

  <body id="page-top">
<div class="loading" id="load" style="display:none;"></div>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink" id="mainNav" style="padding:0;">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/"><img src="img/logo.png" style="width:168px;height:92px;" /></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/">Concept</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/">Avantages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/">Références</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/aboutus">A propos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/grille">Tarifs</a>
            </li>            
          </ul>
        </div>
      </div>
    </nav>

    <section style="margin-top:100px;">
        <div class="container text-center">
            <h2>Conditions générales de vente</h2>
            <hr>
          </div>

      <div class="container">

          Les présentes conditions de vente de service en ligne sont conclues,<b />
          d’une part ;<br />
          entre la société AC Collection à responsabilité limitée au capital de 112 500 (cent douze mille cinq cent) euros, dont le siège social est situé au 47, rue du Four à Paris 75006, immatriculée au Registre du commerce et des sociétés de Paris, sous le numéro 305 256 810, ci-après dénommée « AC Collection ».
          et d’autre part ;<br />
          toute personne, physique ou morale, ayant l’intention de procéder à un achat de service par l’intermédiaire du site Internet « smartholdr.com », propriété de AC Collection, dénommée ci-après «  le Client ».<br />
          Les présentes stipulations constituent un accord contractuel entre le Client et la Société.
           <br /><br />
          Ceci exposé, il est expressément convenu ce qui suit :
          ​<br /><br />
          <h4>1.    Objet</h4>
          ​<br />
          Les présentes conditions de vente visent à définir les relations contractuelles entre AC Collection et le Client, notamment les obligations incombant à chaque partie, ainsi que les conditions applicables à tout achat de service effectué par l’intermédiaire du site « smartholdr.com ».<br />
          L’acquisition du service fourni par la Société à travers le présent site implique une acceptation univoque et sans réserve par le Client des présentes conditions.
          <br />Ces conditions de service prévaudront sur toutes autres conditions générales ou particulières non expressément agréées par AC Collection.
          <br />AC Collection se réserve le pouvoir de modifier ses conditions de vente de service à tout moment. Dans ce dernier cas, les conditions applicables seront celles en vigueur à la date de l’achat par le Client.
           <br />
         <br /> <h4>2.    Caractéristiques des services proposés</h4><br />
          ​
          Le site « smartholdr.com » est un site qui se propose, par le biais d’un mandat spécial octroyé par le Client, de commander et de faire parvenir, au nom et pour le compte du Client, des portes-cartes pour smartphone.
          <br />Le porte-cartes permet à son acquéreur la capacité d'accrocher plusieurs cartes à l'arrière de son smartphone. 
          <br >Afin de procéder à la dite commande, la Société requiert auprès du Client les informations nominatives suivantes :
          <ul>
           <li>Nom, prénom et adresse postale du Client ;</li>
            <li>Une adresse de livraison, si différente de l’adresse postale du Client ;</li>
          </ul>
          ​<br />
          La Société intervient sur l’ensemble du territoire de la République Française.
          ​
          <br /><br /><h4>3.    Tarifs applicables</h4><br />
          ​
          Les prix de mise en relation sont des prix TTC en euros, comprenant la TVA selon les taux en vigueur.
          <br />​
          <br />Les prix de livraison sont fixés forfaitairement et à l’avance par AC Collection. Cette dernière se réserve le droit de modifier ses prix à tout moment, étant toutefois entendu que le prix figurant au catalogue le jour de l’achat sera le seul applicable au Client.
          ​
          <br /><br /><h4>4.    Procédure d’achat</h4><br />
          ​
          Le Client, qui souhaite acheter le service doit obligatoirement :
          <ul>         
          <li>remplir la fiche d’information demandée par le site ;</li>
          <li>vérifier minutieusement les informations fournies ;</li>
          <li>confirmer son achat et son règlement ;</li>
          <li>effectuer le paiement dans les conditions prévues à l’article 6 ci-dessous;</li>
          <li>vérifier la réception du mail de confirmation de la commande.</li>
        </ul>

           
          La confirmation de l’achat entraîne acceptation des présentes conditions de vente de service en ligne, la reconnaissance d’en avoir parfaite et entière connaissance ainsi que la renonciation à se prévaloir, le cas échéant de ses propres conditions d’achat.
          <br />L’ensemble des données fournies et la confirmation enregistrée vaudront preuve de la transaction. La confirmation vaudra signature et acceptation des opérations effectuées.
          <br />AC Collection s’engage à communiquer par courrier électronique la confirmation de la commande enregistrée. En cas de non-réception de cette confirmation, le Client doit contacter le service client sans délai.
          ​
          <br /><br /><h4>5.    Modalités de paiement</h4><br />
          ​
          Le prix est exigible à la date de l’achat du service.
          <br />Les paiements seront effectués par carte bancaire. Ils seront réalisés par le biais du système sécurisé PAYPAL, qui utilise le protocole SSL (Secure Socket Layer) de telle sorte que les informations transmises sont cryptées par un logiciel et que ni AC Collection, ni aucun tiers, ne peut en prendre connaissance au cours du transport sur le réseau.
         <br /> Le compte du Client ne sera débité que du strict montant des services commandés et acceptés.
          <br />Sur demande du Client, il pourra lui être adressé une facture électronique, faisant ressortir la TVA.
          ​
          <br /><br /><h4>6.    Livraison des porte-cartes</h4><br />
          ​
          Les porte-cartes commandés sur le site en ligne « smartholdr.com » sont livrés en France métropolitaine, Corse et Monaco. Elles peuvent être aussi livrées en Europe. Les délais de livraison ne sont pas garantis par le site, sachant que ceux-ci dépendent principalement de l’imprimerie nationale.
          <br />Les produits sont livrés à l’adresse de livraison que le Client a indiquée au cours du processus de commande. Tout retour dû à une erreur d’adresse ou une impossibilité de livraison non imputable à AC Collection sera facturé au coût de La Poste.
          ​
         <br /><br /><h4>7.    Rétractation</h4> <br />
          ​
          Le Client dispose d’un droit de rétractation de 7 jours aux termes de la réglementation en vigueur ; toutefois, ce droit ne peut plus s’exercer dès lors que le site a commencé l’exécution de sa prestation. 
          ​
          <br /><br /><h4>8.    Remboursement et responsabilité</h4><br />
          ​
          Toutes les réclamations ou demandes de remboursement doivent s’effectuer par lettre recommandée avec accusé de réception, à l’adresse suivante : 47, rue du Four, 75006 Paris, dans le délai de 15 jours à partir de la date d’achat du service.
          <br />La lettre doit être motivée et expliquer clairement les motifs du remboursement demandé. Ceux-ci feront l’objet d’une vérification complète par les services du site « smartholdr.com ».
          <br />Avant tout remboursement, la Société se réserve la possibilité de proposer des solutions alternatives au Client afin de régulariser sa situation.
          <br />La Société, dans le processus de vente en ligne, n’est tenue que par une obligation de moyens ; sa responsabilité ne pourra être engagée pour un dommage résultant de l’utilisation du réseau Internet tel que perte de données, intrusion, virus, rupture du service, ou autres problèmes indépendants de sa volonté.
           
          <br /><br /><h4>9.    Propriété intellectuelle</h4><br />
          ​
          <br />Tous les éléments du site « smartholdr.com » relèvent de la propriété intellectuelle exclusive de AC Collection. Nul n’est autorisé à reproduire, exploiter, rediffuser, ou utiliser à quelque titre que ce soit, même partiellement, des éléments du site qu’ils soient logiciels, visuels ou sonores. Tout lien simple ou par hypertexte est strictement interdit sans un accord écrit exprès consenti par AC Collection.
          <br />Les marques de l’éditeur du site « smartholdr.com » et de ses produits, ainsi que les logos figurant sur le site sont des marques déposées. Toute reproduction totale ou partielle de ces marques ou de ces logos, effectuée à partir des éléments du site sans l’autorisation expresse de AC Collection est donc prohibée, au sens de l’article L 713 - 2 du Code la Propriété Intellectuelle.
          ​
          <br /><br /><h4>10.    Données à caractère personnel</h4><br />
          ​
          Conformément à la loi relative à l’informatique, aux fichiers et aux libertés du 6 janvier 1978, les informations à caractère nominatif relatives aux acheteurs pourront faire l’objet d’un traitement automatisé.
          <br />AC Collection se réserve le droit de collecter des informations sur les acheteurs y compris en utilisant des cookies et, si elle le souhaite, de transmettre à des partenaires commerciaux les informations collectées.
          <br />Les acheteurs peuvent s’opposer à la divulgation de leurs coordonnées en le signalant à AC Collection. De même, les utilisateurs disposent d’un droit d’accès et de rectification des données les concernant, conformément à la loi du 6 janvier 1978. Le traitement automatisé d’informations, y compris la gestion des adresses e-mail des utilisateurs du site a fait l’objet d’une déclaration à la CNIL.
          ​
          <br /><br /><h4>11.    Archivage - Preuve</h4><br />
          ​
          AC Collection archivera les factures sur un support fiable et durable constituant une copie fidèle conformément aux dispositions de l’article 1348 du Code civil.
          <br />Les registres informatisés de AC Collection seront considérés par les parties comme preuve des communications, paiements et transactions intervenus entre les parties.
          ​
          <br /><br /><h4>12.    Règlement des litiges et compétence juridictionnelle</h4><br />
          ​
          Les présentes conditions de vente de service en ligne sont soumises à la législation française. En cas de litige, la compétence est attribuée aux tribunaux compétents du ressort de la ville de Paris.
          <br />La langue de référence est le français, toute version dans une autre langue n’ayant qu’une valeur informative.
          ​
          <br /><br /><h4>13.    Service Clientèle</h4><br />
           
          Pour toute information ou réclamation concernant l’accès ou l’utilisation des fonctionnalités du Site, la Société tient à la disposition du Client un service clientèle par mail : contact@smartholdr.com.

      </div>
    </section>





<footer class="bg-primary">
  <div class="container">

      <div class="row">
          <div class="col-lg-3 text-center">
              <ul style="list-style: none;margin:0;padding:0px;font-size:12px;">
                  <li><a href="mailto:contact@smartholdr.fr" style="color:#FFF;">contact@smartholdr.fr</a></li>
                  <li>47, rue du Four</li>
                  <li>75006 Paris</li>
                </ul>            
              <img src="img/logo.png" />
          </div>
          <div class="col-lg-9 text-center">
              <a href="/cgv" style="color:#FFF;"><u>Conditions générales de vente</u></a>
                        </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.js"></script>

  </body>

</html>
