<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="SmartHoldr - Innovez vos goodies avec des porte-cartes personnalisés pour smartphone">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
      <meta property="og:image" content="img/logo.png" />
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="140">
<meta property="og:image:height" content="112">
    <title>Smart Holdr - Commandez votre goodies</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/creative.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110091754-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110091754-1');
</script>

  </head>

  <body id="page-top">
<div class="loading" id="load" style="display:none;"></div>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink" id="mainNav" style="padding:0;">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/"><img src="img/logo.png" style="width:168px;height:92px;" /></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/">Concept</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/">Avantages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/">Références</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/aboutus">A propos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/grille">Tarifs</a>
            </li>            
          </ul>
        </div>
      </div>
    </nav>

    <section style="margin-top:100px;">
        <div class="container text-center">
            <h2>Commander</h2>
            <hr>
          </div>

      <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6" style="padding-left:10%;">
              <div id="mockup" style="background-color:#F2F2F2;">
                <img id="img_up" src="img/sample_logo.png" />
              </div>
              <small><i>Cette image est à tire indicatif, notre équipe s'occupera de la version finale</i></small>

            </div>
            <div class="col-xs-12 col-sm-4 col-md-6">
             
              <button style="padding:7px 16px;width:100%" class="jscolor {valueElement:'chosen-value'}">
                Choisissez votre couleur
              </button>
              <input id="chosen-value" value="F2F2F2" type="hidden">
<br />
              <br />
              <input type="text" class="form-control" id="quantity" placeholder="Quantité"  />
              <br />
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <label class="custom-file">
                        <input class="custom-file-input" type="file" id="image_pro" name="image_pro" enctype="multipart/form-data" accept="image/*">
                        <span class="custom-file-control"></span>
                      </label>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                  <button class="btn btn-primary btn-xl js-scroll-trigger" id="sendimg" style="padding:7px 16px;">Charger l'image</button>                  
                
              </div>

                
            </div>
            <p id="successimg" style="color:#5cb85c;"></p>
        </div>

      </div>
    </section>





<footer class="bg-primary">
  <div class="container">

      <div class="row">
          <div class="col-lg-3 text-center">
              <ul style="list-style: none;margin:0;padding:0px;font-size:12px;">
                  <li><a href="mailto:contact@smartholdr.fr" style="color:#FFF;">contact@smartholdr.fr</a></li>
                  <li>47, rue du Four</li>
                  <li>75006 Paris</li>
                </ul>            
              <img src="img/logo.png" />
          </div>
          <div class="col-lg-9 text-center">
              <a href="/cgv" style="color:#FFF;"><u>Conditions générales de vente</u></a>
                        </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.js"></script>
    <script src="js/jscolor.min.js"></script>
    <script>
      $('#chosen-value').on("change keyup paste", function(){
        console.log($(this).val());
        $('#mockup').css('background-color', '#'+$(this).val());
      })
    </script>
    <script>

      $('#sendimg').click(function() {
          
var form = new FormData();
 var imgvetopre = $('#image_pro').get(0).files;
  var imgveto = imgvetopre[0]; 
form.append("imgveto", imgveto);
var ok = true;
if(imgveto) {
if (imgveto.size > 2 * 1048576) {  
    ok = false;
    alert('La taille de l\'image est supérieur à 2mo');
    $('#load_up_img').hide();
}
}
if(!imgveto)  { 
  $('#image_pro').css('border', '1px solid #FA5858'); 
alert('Veuillez sélectionner une image '); 
ok = false; }

if(ok) {
  $('#load').show();
var settings = {
  "async": true,
  "crossDomain": true,
  "url": "/upload",
  "method": "PUT",
  "headers": {
    "cache-control": "no-cache",
  },
  "processData": false,
  "contentType": false,
  "mimeType": "multipart/form-data",
  "data": form
}

$.ajax(settings).done(function (response) {
  $('#load').hide();
  $('#img_up').attr('src', response);
  $('#successimg').html('Votre image a correctement été chargé !')

})
}

      })
    </script>
  </body>

</html>
