<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="SmartHoldr - Innovez vos goodies avec des porte-cartes personnalisés pour smartphone">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
      <meta property="og:image" content="img/logo.png" />
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="140">
<meta property="og:image:height" content="112">
    <title>Smart Holdr - Commandez votre goodies</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/creative.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110091754-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110091754-1');
</script>

<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="c4636c74-11ff-4a09-baa9-9885ca4eb29b";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
<script id="scriptrm">
    function removecrisp(){
      if($('.crisp-165').html()!=""){
      $('.crisp-165').html('');
      }
      else{
        clearInterval(rmt);
      }
    }
      var rmt=window.setInterval(removecrisp, 500);
    </script>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KWMHVNC');</script>
    <!-- End Google Tag Manager -->
  </head>

  <body id="page-top">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KWMHVNC"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

<div class="loading" id="load" style="display:none;"></div>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink" id="mainNav" style="padding:0;">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/"><img src="img/logo.png" style="width:168px;height:92px;" /></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/">Concept</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/">Avantages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/commander">Commander</a>
            </li>             
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/">Références</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/aboutus">A propos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/grille">Tarifs</a>
            </li>            
          </ul>
        </div>
      </div>
    </nav>
    <div id="success_modal" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Validation de votre commande</h4>
          </div>
          <div class="modal-body">
            <p>Votre commande est confirmé, vous recevrez une confirmation par e-mail.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
          </div>
        </div>
    
      </div>
    </div>

    <section style="margin-top:100px;background-color:#F9F9F9;"  id="contains">
        <div class="container text-center">
            <h2>Commandez en ligne</h2>
            <hr>
          </div>
<input type="hidden" id="path_img" />
      <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6" style="padding-left:10%;">
                <label for="image_pro">
                <div id="mockup" style="background-color:#FFFF;">
                <img id="img_up" src="img/sample_logo.png" />
              </div>
                </label>
<br />
              Toujours tout <strong>sous la main !</strong><br />
                Porte-cartes en silicone à fixer sur votre Smartphone en utilisant le ruban fourni. Parfait pour les cartes de visite, cartes de crédit, permis de conduire, carte d'identité ou même de l'argent. <br /> 
                Dimensions : 8,5 x 5,6 x 0,3 cm<br />
                Poids : 13g <br />
                Livraison 7 à 15 jours.<br />
                <i><small>Cette image est à titre indificatif, notre équipe s'occupera de la recadrer. </small></i>

            </div>
            <div class="col-xs-12 col-sm-4 col-md-6">
                <h4 id="step1_title">Votre Smart Holdr</h4>
                <hr style="margin-left:5px;">
             <div id="step1">
              <button style="padding:7px 16px;width:100%" class="jscolor {valueElement:'chosen-value'}">
                Choisissez votre couleur
              </button>
              <input id="chosen-value" value="FFFFFF" type="text" class="form-control" />
<br />
              Quantité  
               
                    <input class="form-control" id="rangebudget" type="number" min="100" max="10000" />
                    <small class="form-text text-muted">A partir de 300 SmartHoldr</small>
              <br />
                    <label class="custom-file">
                        <input class="custom-file-input" type="file" id="image_pro" name="image_pro" enctype="multipart/form-data" accept="image/*">
                        <span class="custom-file-control"></span>
                      </label>

              
            <p id="successimg" style="color:#5cb85c;"></p>

            <h4><b>Prix :</b> <span id="price">0</span> € (HT) <small>soit <span id="ttcprice">0</span>€ (TTC) (livraison comprise 7 à 15 jours)</small></h4>
              <input type="hidden" id="totalprice" />
              <br />
              <div style="text-align:center">
              <button class="btn btn-primary btn-xl js-scroll-trigger" id="gostep2" style="padding:7px 16px;background-color:#5cb85c">Etape suivante</button>
              </div>  
          </div>
          
          <br />
          <h4 id="step2_title" style="margin-left:5px;">Livraison</h4>
          <hr style="margin-left:5px;">
          <div id="step2" style="display:none;">
              <div class="form-row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <input type="text" class="form-control" placeholder="Votre entreprise" id="entreprise">
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <input type="text" class="form-control" placeholder="Votre nom" id="nom" >
                  </div>
                </div>
                <br />
                <div class="form-row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <input type="text" class="form-control" placeholder="Adresse" id="adresse" >
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <input type="text" class="form-control" placeholder="Code Postal" id="zipcode">
                    </div>
                  </div>
                  <br />
                  <div class="form-row">
                      <div class="col-xs-6 col-sm-6 col-md-6">
                        <input type="text" class="form-control" placeholder="France" disabled id="country">
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6">
                        <input type="text" class="form-control" placeholder="Ville" id="city">
                      </div>                      
                    </div>
                    <br />
                    <input type="text" class="form-control" placeholder="Adresse E-mail" id="email">
                    <br />
                    <div class="form-row">
                      <div class="col-xs-6 col-sm-6 col-md-6">
                        <input type="text" class="form-control" placeholder="Votre numéro de téléphone" id="phone">
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" id="shipexpress"> Livraison Express     
                          <small class="form-text text-muted">Livraison en 7 jours</small>
                          
                        </label>
                      </div>
                    </div>
<br />
                    <div class="form-group">
                      <label for="comment">Commentaires</label>
                      <textarea class="form-control" id="comment" rows="3"></textarea>
                    </div>
                    Prix (TTC) : <span id="finalprice"></span>
                    <input type="hidden" value="" id="pricetopay" />
                    <br />
                    <div style="text-align:center">
                    <button class="btn btn-primary btn-xl js-scroll-trigger" id="gostep3" style="padding:7px 16px;background-color:#5cb85c">Etape suivante</button>
                    </div>  

          </div>
          <br />
          <h4 id="step3_title" style="margin-left:5px;">Paiement</h4>
          <hr style="margin-left:5px;">
          <div id="step3" style="display:none;">
            
            <div id="card-element">
                <!-- a Stripe Element will be inserted here. -->
              </div>
              <div id="card-errors" role="alert"></div>
              <br />
              <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" id="acceptcgv"> J'accepte les <a href="/cgv">conditions générales de ventes</a>
                  
                </label>

              <div style="text-align:center;">
              <button class="btn btn-primary btn-xl js-scroll-trigger" id="sendstripe" style="padding:7px 16px;">Payer</button>
              </div>
          </div>   
        </div>
      </div>
    </section>





    <footer class="bg-primary">
        <div class="container">
      
            <div class="row">
                <div class="col-lg-3 text-center">
                    <ul style="list-style: none;margin:0;padding:0px;font-size:12px;">
                        <li><a href="mailto:contact@smartholdr.fr" style="color:#FFF;">contact@smartholdr.fr</a></li>
                        <li><a href="tel:+33610547272" style="color:#FFF;">06 10 54 72 72</a></li>
                        <li>47, rue du Four</li>
                        <li>75006 Paris</li>
                      </ul>            
                    <img src="img/logo.png" />
                </div>
                <div class="col-lg-9 text-center">
                    <a href="/cgv" style="color:#FFF;"><u>Conditions générales de vente</u></a>
                              </div>
              </div>
            </div>
          </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>    
    <script>
        $( function() {
          $( "#img_up" ).draggable();
        } );
        </script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.js"></script>
    <script src="js/jscolor.min.js"></script>

    <script src="https://js.stripe.com/v3/"></script>
    <script>

    function computeShipping(quantity) {
      var base_regular = 20;
      var base_express = 70;
      var shipping = {};
      for (var i = 0; i < quantity; i+=500) {
        base_regular+=3.30
        base_express+=9;
      }
      shipping.express = base_express;
      shipping.regular = base_regular;     
      return shipping;
    }
    var stripe = Stripe('pk_live_PRKcXuDWb5fGhxhMemN5LzV8');
      
      // Create an instance of Elements
      var elements = stripe.elements();
      
      // Custom styling can be passed to options when creating an Element.
      // (Note that this demo uses a wider set of styles than the guide below.)
      var style = {
        base: {
          color: '#32325d',
          lineHeight: '18px',
          fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
          fontSmoothing: 'antialiased',
          fontSize: '16px',
          '::placeholder': {
            color: '#aab7c4'
          }
        },
        invalid: {
          color: '#fa755a',
          iconColor: '#fa755a'
        }
      };
      
      // Create an instance of the card Element
      var card = elements.create('card', {style: style});
      
      // Add an instance of the card Element into the `card-element` <div>
      card.mount('#card-element');
      var error_show = false;
      // Handle real-time validation errors from the card Element.
      card.addEventListener('change', function(event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
          displayError.textContent = event.error.message;
          error_show = true;
        } else {
          displayError.textContent = '';
        }
      });    
    
      $('#sendstripe').click(function() {
        if($('#acceptcgv').prop( "checked" )) {
          $('#load').show();
          var express_final = "Non";
          if($('#shipexpress').prop( "checked" )) express_final = "Oui";
          stripe.createToken(card).then(function(result) {
          if (result.error) {
            // Inform the user if there was an error
            var errorElement = document.getElementById('card-errors');
            errorElement.textContent = result.error.message;
          } else {
              var settings = { 
              "async": true, 
              "crossDomain": true, 
              "url": "/pay", 
              "method": "POST", 
              "data" : { 
              "stripeToken" : result.token, 
              "quantity" : $('#rangebudget').val(),
              "email" : $('#email').val(),
              "entreprise" : $('#entreprise').val(),
              "color" : $('#chosen-value').val(),
              "img" : $('#path_img').val(),
              "name" : $('#nom').val(),
              "zipcode" : $('#zipcode').val(),
              "phone" : $('#phone').val(),
              "city" : $('#city').val(),
              "adress" : $('#adresse').val(),
              "amount" : Math.round($('#pricetopay').val()*100),
              "comment" : $('#comment').val(),
              "express" : express_final
              },
              "headers": { "content-type": "application/x-www-form-urlencoded" }
            } 
            $.ajax(settings)
            .done(function (response) { 
               $('#load').hide();
               $('#success_modal').modal();
               setTimeout("window.location='/'",4500); 
            })
            .fail(function(response) { 

                alert("Votre moyen de paiement est refusé !");
            })         
          }
        }); 
        } else {
          alert("Vous devez accepter les conditions générales de vente");
        }       
      })

    </script>
    <script>
      $('#chosen-value').on("change keyup paste", function(){
        $('#mockup').css('background-color', '#'+$(this).val());
        var code = "#"+$(this).val();
        if(code == '#F9F9F9') $('#contains').css('background-color', '#FFFFFF');
        if(code == '#FFFFFF') $('#contains').css('background-color', '#F9F9F9');
      })

      $('#step1_title').click(function() {
        $('#step2').hide();
        $('#step3').hide();
        $('#step1').show("slow");
      })
      $('#step2_title').click(function() {
        $('#gostep2').click();
      })
      $('#step3_title').click(function() {
        $('#gostep3').click();
      })

      $('#gostep2').click(function() {
        if($('#totalprice').val() != 0 && $('#rangebudget').val() >= 300) {
          $('#step1').hide();
          $('#step3').hide();
          $('#step2').show("slow");
        } else {
          alert("Vous devez entrer une quantité supérieure ou égale à 300 !");
        }
      })

      $('#gostep3').click(function() {
        if($('#totalprice').val() != 0 && $('#email').val() && $('#phone').val()) {
          $('#step1').hide();
          $('#step2').hide();
          $('#step3').show("slow");
        } else {
          alert("Les champs sont vides");
        }
      })     


      $(document).on('input change', '#rangebudget', function() {
            $('#price').html(computeTheAmount($(this).val()));
            var totalPrice = Math.round(computeTheAmount($(this).val())*(1+21/100));
            var shipping = computeShipping($(this).val());
            $('#ttcprice').html(totalPrice + shipping.regular);
            $('#finalprice').html((totalPrice + shipping.regular) + "€");
            $('#pricetopay').val(totalPrice + shipping.regular);
            $('#totalprice').val(totalPrice + shipping.regular);
            $('#sendstripe').html("Payer "+(totalPrice + shipping.regular) + "€");
    });

    $( "#shipexpress" ).change(function() {

      var totalPrice = Math.round(computeTheAmount($('#rangebudget').val())*(1+21/100));
      var shipping = computeShipping($('#rangebudget').val());
    if($(this).prop( "checked" )) {
      $('#finalprice').html((totalPrice + shipping.express) + "€"); 
      $('#pricetopay').val(totalPrice + shipping.express);
      $('#sendstripe').html("Payer "+(totalPrice + shipping.express) + "€");
      } else {
        $('#finalprice').html((totalPrice + shipping.regular) + "€"); 
      $('#pricetopay').val(totalPrice + shipping.regular);
      $('#sendstripe').html("Payer "+(totalPrice + shipping.regular) + "€");
      }


    })

      function computeTheAmount(quantity) {
        var fix_price = {"q1" : 1.50, "q2" : 1.45, "q3" : 1.35, "q4" : 1.25, "q5" : 1.10, "q6" : 0.80, "q7" : 0.70, "q8" : 0.63, "q9" : 0.50  };
       var bat = 30; 
        if(quantity >= 100 && quantity < 150) return Math.round(quantity*fix_price.q1+bat);
        if(quantity >= 150 && quantity < 200) return Math.round(quantity*fix_price.q2+bat);
        if(quantity >= 200 && quantity < 300) return Math.round(quantity*fix_price.q3+bat);
        if(quantity >= 300 && quantity < 400) return Math.round(quantity*fix_price.q4+bat);
        if(quantity >= 400 && quantity < 500) return Math.round(quantity*fix_price.q5+bat);
        if(quantity >= 500 && quantity < 1000) return Math.round(quantity*fix_price.q6+bat);
        if(quantity >= 1000 && quantity < 2500) return Math.round(quantity*fix_price.q7+bat);
        if(quantity >= 2500 && quantity < 5000) return Math.round(quantity*fix_price.q8+bat);
        if(quantity >= 5000) return Math.round(quantity*fix_price.q9+bat);
        return 0;
      }

    </script>
    <script>

$('#image_pro').change(function () {
          
var form = new FormData();
 var imgvetopre = $('#image_pro').get(0).files;
  var imgveto = imgvetopre[0]; 
form.append("imgveto", imgveto);
var ok = true;
if(imgveto) {
if (imgveto.size > 2 * 1048576) {  
    ok = false;
    alert('La taille de l\'image est supérieur à 2mo');
    $('#load_up_img').hide();
}
}
if(!imgveto)  { 
  $('#image_pro').css('border', '1px solid #FA5858'); 
alert('Veuillez sélectionner une image '); 
ok = false; }

if(ok) {
  $('#load').show();
var settings = {
  "async": true,
  "crossDomain": true,
  "url": "/upload",
  "method": "PUT",
  "headers": {
    "cache-control": "no-cache",
  },
  "processData": false,
  "contentType": false,
  "mimeType": "multipart/form-data",
  "data": form
}

$.ajax(settings).done(function (response) {
  var json = JSON.parse(response);
  $('#load').hide();
  $('#img_up').attr('src', json.path);
  $('#successimg').html('Votre image a correctement été chargé !');
  $('#path_img').val(json.path);

})
}

      })
    </script>
  </body>

</html>
