<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="SmartHoldr - Commandez votre étui de poche">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
      <meta property="og:image" content="img/logo.png" />
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="140">
<meta property="og:image:height" content="112">
    <title>Smart Holdr - Grille Tarifaire</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/creative.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  </head>

  <body id="page-top">
<div class="loading" id="load" style="display:none;"></div>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink" id="mainNav" style="padding:0;">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="img/logo.png" style="width:168px;height:92px;" /></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Concept</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Avantages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Références</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/aboutus">A propos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section style="padding: 110px 0;">
        <div class="container text-center">
            <h2>Grille Tarifaire 2017</h2>
            <hr>
          </div>

      <div class="container" style="text-align:center;">

          <div class="table-responsive">          
              <table class="table table-bordered">
                <thead style="text-align:center;">
                  <tr class="bg-info" style="color:#FFF;text-align:center;" >
                    <th>Quantité</th>
                    <th style="text-align:center;">500</th>
                    <th style="text-align:center;">1000-2500</th>
                    <th style="text-align:center;">2500-5000</th>
                    <th style="text-align:center;">5000-10000</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="background-color:#20CFEB;text-align:left;">Prix</td>
                    <td>0,80 €</td>
                    <td>0,70 €</td>
                    <td>0,63 €</td>
                    <td>0,50 €</td>
                  </tr>
                </tbody>
              </table>
              </div>

<strong>BAT : 15€/couleur logo - Offert à partir de 5000 pièces.
<br /><br />
Livraison départ Paris : Transporteur à communiquer.</strong>
<br /><br />
              <div style="text-align:center;">
                <h4>Contact</h4>
                <a href="mailto:contact@smartholdr.fr" style="color:#000"><u>contact@smartholdr.fr</u></a>
              </div>

      </div>
    </section>





<footer class="bg-primary">
  <div class="container">

      <div class="row">
          <div class="col-lg-3 text-center">
              <ul style="list-style: none;margin:0;padding:0px;font-size:12px;">
                  <li><a href="mailto:contact@smartholdr.fr" style="color:#FFF;">contact@smartholdr.fr</a></li>
                  <li>47, rue du Four</li>
                  <li>75006 Paris</li>
                </ul>            
              <img src="img/logo.png" />
          </div>
          <div class="col-lg-9 text-center">
              <a href="/cgv" style="color:#FFF;"><u>Conditions générales de vente</u></a>
                        </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.js"></script>

  </body>

</html>
