<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="SmartHoldr - Innovez vos goodies avec des porte-cartes personnalisés pour smartphone">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
      <meta property="og:image" content="img/logo.png" />
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="140">
<meta property="og:image:height" content="112">
    <title>Smart Holdr - Commandez votre porte cartes personnalisé pour votre smartphone</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/creative.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110091754-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110091754-1');
</script>

<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="c4636c74-11ff-4a09-baa9-9885ca4eb29b";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
<script id="scriptrm">
    function removecrisp(){
      if($('.crisp-165').html()!=""){
      $('.crisp-165').html('');
      }
      else{
        clearInterval(rmt);
      }
    }
      var rmt=window.setInterval(removecrisp, 500);
    </script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KWMHVNC');</script>
  <!-- End Google Tag Manager -->

  </head>

  <body id="page-top">
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KWMHVNC"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
<div class="loading" id="load" style="display:none;"></div>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink" id="mainNav" style="padding:0;">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#"><img src="img/logo.png" style="width:168px;height:92px;" /></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Concept</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Avantages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/commander">Commander</a>
            </li>             
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Références</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/aboutus">A propos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/grille">Tarifs</a>
            </li>            
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="header-content">
        <div class="header-content-inner">
          
          <!--<p style="color:#222222">Smart Holdr fournit un porte carte innovant tout en promouvant votre marque</p>-->

        </div>

      </div>
    </header>
    <div id="video_modal" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Le concept SmartHoldr</h4>
          </div>
          <div class="modal-body" style="text-align:center;">
            <iframe height="100%" scrolling="no" width="100%" allowFullScreen="allowFullScreen"
            src="https://www.youtube.com/embed/lAoBrVCFPdk">
            </iframe>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
          </div>
        </div>
    
      </div>
    </div>

    <section id="about" style="background-color:#ebebeb;padding:27px 0;">
      <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
                <h1 class="section-heading">Un porte-cartes aux couleurs de votre marque</h1>
                <hr class="primary">
              </div>
            </div>
            <div class="row">
            <div class="col-lg-4 text-center">
              <img src="img/sample.png" alt="Un porte-cartes aux couleurs de votre marque" />
            </div>
            <div class="col-lg-8 text-center">

              <p class="text-faded" style="color:#000;">
                <span style="color:#1b98bb">
                Smart Holdr est un objet publicitaire innovant pour booster votre visibilité et diffuser votre image de marque.
                </span>
                <br /><br />
               Sortir son smartphone pour regarder l’heure qu’il est, pour prendre connaissance des appels manqués, des messages et notifications reçus est devenu un tel automatisme que nous le faisons en moyenne 221 fois par jour selon une étude Tecmark.
               ​<br /><br />
               Faites la promotion de votre marque tout en offrant un outil à la fois utile et pratique. 
               <br /><br />
               Grâce à ce porte-cartes Smart Holdr pour smartphone, vos cartes seront toujours à portée de main.

              </p>
              <div style="text-align:center;">
                <strong>
                  <h4 style="color:#1b98bb;display:inline">
                A partir de 0.50€/unité </h4>
                <br /><a href="/grille">Voir notre grille tarifaire</a>
                <br /><small>Minimum 300 pièces</small>
                </strong><br /><br />
                  <a href="/commander"><button class="btn btn-primary btn-xl js-scroll-trigger" style="padding: 20px 50px;">Commandez en ligne</button> </a> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h1 class="section-heading">SmartHoldr en 10 secondes</h1>
            <hr class="primary">
          </div>
        </div>
        <div style="text-align:center">
        <img src="img/video_tease.jpg" style="width:53%;border-radius:3%;cursor:pointer" id="popupvideo" />
        </div>
        </div>

    </section>


  <section id="devisenligne" style="background-color:#ebebeb;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Devis en ligne</h2>
          <hr class="primary">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3" style="text-align:center;">
            <label for="image_pro">
            <div id="mockup" style="background-color:#FFFFFF;width:212px;height:313px;">
            <img id="img_up" src="img/sample_logo_home.png" style="border: 1px dotted #62B2EB;top:43%;left:18%" />
          </div>
            </label>
            <label class="custom-file">
                <input class="custom-file-input" type="file" style="display:none;" id="image_pro" name="image_pro" enctype="multipart/form-data" accept="image/*">
                <span class="custom-file-control" style="display:none;"></span>
              </label>           
       </div>
       <div class="col-xs-12 col-sm-9 col-md-9" style="text-align:center;padding-left:15%">

          <div class="row">
              <div class="col-sm-6"><h4>Choisissez votre couleur</h4>
                  <div class="row">
                      <div class="col-xs-2 col-sm-2 col-md-2">
                          <button style="width: 32px;height: 32px;" class="jscolor {valueElement:'chosen-value'}">
                          </button>
                      </div>
                      <div class="col-xs-10 col-sm-10 col-md-10"><input id="chosen-value" value="FFFFFF" class="form-control" style="width:80%;"/></div>
                  </div>
                  
                  <small>Cliquez sur l'icone pour ouvrir la palette à image</small>
              </div>
              <div class="col-sm-6"><h4>Choisissez votre quantité</h4>
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        <img src="img/calculator.png" />
                    </div>
                    <div class="col-xs-10 col-sm-10 col-md-10"><input class="form-control" id="rangebudget" type="number" min="300" max="10000" /></div>
                </div>               
                  <small>A partir de 300 pièces</small>
              </div>
          </div>
<br />
            <h4 style="text-align:center;" id="computation_price">
            </h4>
            <br /><br />
            <div style="text-align:center;">
            <button class="btn btn-primary btn-xl js-scroll-trigger" style="padding: 20px 50px;cursor:pointer;" id="gotocommander">Commandez en ligne</button>
            <br /><a href="#contact" class="nav-link js-scroll-trigger" >ou demandez un devis personnalisé</a>
            </div>
   </div>

       </div>     


    </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Nos avantages</h2>
            <hr class="primary">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
                <h4>100% personnalisable</h4>
              <img src="img/logo1.png" alt="SmartHoldr 100% personnalisable" />
              <p class="text-muted">Votre logo imprimé sur un porte-cartes en respectant le code couleur (Pantone) de votre marque</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <h4>À votre écoute</h4>
                <img src="img/logo2.png" alt="SmartHoldr 100% personnalisable" />
                <p class="text-muted">Une équipe à votre écoute 7j/7  pour satisfaire vos attentes à tous moments </p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <h4>Livraison Rapide</h4>
                <img src="img/logo3.png" alt="SmartHoldr 100% personnalisable" />
                <p class="text-muted">Respecter vos deadlines est notre priorité</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <h4>Impression locale</h4>
                <img src="img/logo4.png" alt="SmartHoldr 100% personnalisable" />
                <p class="text-muted">Imprimé en France avec soin</p>
              </div>
          </div>
        </div>
      </div>
    </section>

    <section id="portfolio" style="background-color:#ebebeb;" >
      <div class="container text-center">
        <h2>Ils nous ont fait confiance !</h2>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-4 text-center" style="padding-top:18px;">
             <img class="blackwhite" src="img/coca.png" alt="Coca-Cola"  />
          </div>
          <div class="col-lg-2 col-md-4 text-center" style="padding-top:15px;">
               <img class="blackwhite" src="img/drip.png" alt="Drip"  />
          </div>
          <div class="col-lg-2 col-md-4 text-center" style="padding-top:39px;">
             <img class="blackwhite" src="img/wework.png" alt="Weworke" />
          </div>
          <div class="col-lg-2 col-md-4 text-center" style="padding-top:25px;">
 <img class="blackwhite" src="img/dauphine.png" alt="Dauphine" />
          </div>
          <div class="col-lg-2 col-md-4 text-center" style="padding-top:40px;padding-bottom:15px;">
 <img class="blackwhite" src="img/oreo.png" alt="OREO"  />
          </div>
          <div class="col-lg-2 col-md-4 text-center">
 <img class="blackwhite" src="img/wsf.jpg" alt="Web School Factory" />
          </div>          
        </div>
      </div>
    </section>



    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Demande de devis</h2>
            <hr class="primary">
          </div>
        </div>
        <div id="form">
    <div style="text-align:center;padding-left:10%">
        <div class="form-group">
            <input type="text" class="form-control" id="name" placeholder="Votre nom" style="width:90%;" />
            <small id="errorname" class="form-text text-muted" style="padding-right:60%;"></small>
            
          </div>

  <div class="form-group">
    <input type="email" class="form-control" id="mail" placeholder="Votre adresse e-mail" style="width:90%;" />
    <small id="errormail" class="form-text text-muted" style="padding-right:60%;"></small>
    
  </div>
  <div class="form-group">
    <textarea class="form-control" id="contentMail" rows="5" placeholder="Votre message" style="width:90%;"></textarea>
  </div>
</div>
  
<div style="text-align:center;">
  <button class="btn btn-primary btn-xl js-scroll-trigger" id="send">Envoyer</button>  
</div>
  </div>
  </div>
  
      </div>
    </section>

<footer class="bg-primary">
  <div class="container">

      <div class="row">
          <div class="col-lg-3 text-center">
              <ul style="list-style: none;margin:0;padding:0px;font-size:12px;">
                  <li><a href="mailto:contact@smartholdr.fr" style="color:#FFF;">contact@smartholdr.fr</a></li>
                  <li><a href="tel:+33610547272" style="color:#FFF;">06 10 54 72 72</a></li>
                  <li>47, rue du Four</li>
                  <li>75006 Paris</li>
                </ul>            
              <img src="img/logo.png" />
          </div>
          <div class="col-lg-9 text-center">
              <a href="/cgv" style="color:#FFF;"><u>Conditions générales de vente</u></a>
                        </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/jscolor.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>    
    <script>
        $( function() {
          $( "#img_up" ).draggable();
        } );
        </script>
    <script>

$('#popupvideo').click(function() {
  $('#video_modal').modal();
})

function setCookie(cname, cvalue) {
    document.cookie = cname + "=" + cvalue + ";path=/";
}

$('#gotocommander').click(function() {
  setCookie("color", $('#chosen-value').val());
  setCookie("quantity", $('#rangebudget').val());
  document.location.href="/commander";
})

function validateEmail(email) {
  var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  return re.test(email);
}
    $('#send').click(function(e) {

// Check error

    var mail = $('#mail').val();
    var content = $('#contentMail').val();
    var name = $('#name').val();
    var bool_continue = true;
      if(!mail) {  

        bool_continue = false;
          $('#mail').css('border', '1px solid red');
       }



         if(!validateEmail(mail)) {
          bool_continue = false;
          $('#mail').css('border', '1px solid red');
         $('#errormail').html('<span style=\"color:#d9534f\">Cette adresse e-mail n\'est pas correcte !</span>');
       }
      if(!content) {  

        bool_continue = false;
          $('#contentMail').css('border', '1px solid #d9534f');
       }
       if(!name) {  

        bool_continue = false;
          $('#name').css('border', '1px solid #d9534f');
       }       

if(bool_continue) {
  
  $('#load').show();
var settings = { 
  "async": true, 
  "crossDomain": true, 
  "url": "/contactus", 
  "method": "POST", 
  "headers": { "content-type": "application/x-www-form-urlencoded" }, 
  "data": { "email" : mail, "content": content, "name": name }
} 
$.ajax(settings)
.done(function (response) { 
  $('#load').hide();
  $('#form').css('padding-left', '0px');
  $('#form').html('<span style=\"color:#5cb85c;\"><b>Votre demande a correctement été prise en compte.<br />Vous recevrez une réponse sous 12h.</b></span>');
  setTimeout("window.location='/merci'",1500); 
 });
}


    })
    </script>
    <script>
      $('#chosen-value').on("change keyup paste", function(){
        $('#mockup').css('background-color', '#'+$(this).val());
        var code = "#"+$(this).val();
        if(code == '#ebebeb') $('#devisenligne').css('background-color', '#FFFFFF');
        if(code == '#FFFFFF') $('#devisenligne').css('background-color', '#ebebeb');
      })    
    
    </script>
   <script>

    $('#image_pro').change(function () {
              
    var form = new FormData();
     var imgvetopre = $('#image_pro').get(0).files;
      var imgveto = imgvetopre[0]; 
    form.append("imgveto", imgveto);
    var ok = true;
    if(imgveto) {
    if (imgveto.size > 2 * 1048576) {  
        ok = false;
        alert('La taille de l\'image est supérieur à 2mo');
        $('#load_up_img').hide();
    }
    }
    if(!imgveto)  { 
      $('#image_pro').css('border', '1px solid #FA5858'); 
    alert('Veuillez sélectionner une image '); 
    ok = false; }
    
    if(ok) {
      $('#load').show();
    var settings = {
      "async": true,
      "crossDomain": true,
      "url": "/upload",
      "method": "PUT",
      "headers": {
        "cache-control": "no-cache",
      },
      "processData": false,
      "contentType": false,
      "mimeType": "multipart/form-data",
      "data": form
    }
    
    $.ajax(settings).done(function (response) {
      var json = JSON.parse(response);
      $('#load').hide();
      $('#img_up').attr('src', json.path);
      $('#successimg').html('Votre image a correctement été chargé !');
      $('#path_img').val(json.path);
      setCookie('img', json.path);
    
    })
    }
    
          })
        </script>
        <script>
      function computeTheAmount(quantity) {
        var fix_price = {"q1" : 1.50, "q2" : 1.45, "q3" : 1.35, "q4" : 0.90, "q6" : 0.80, "q7" : 0.70, "q8" : 0.63, "q9" : 0.50  };
       var bat = 0; 
        if(quantity >= 300 && quantity < 500) return Math.round(quantity*fix_price.q4+bat);
        if(quantity >= 500 && quantity < 1000) return Math.round(quantity*fix_price.q6+bat);
        if(quantity >= 1000 && quantity < 2500) return Math.round(quantity*fix_price.q7+bat);
        if(quantity >= 2500 && quantity < 5000) return Math.round(quantity*fix_price.q8+bat);
        if(quantity >= 5000) return Math.round(quantity*fix_price.q9+bat);
        return 0;
      }

      function computeShipping(quantity) {
      var base_regular = 20;
      var base_express = 70;
      var shipping = {};
      for (var i = 0; i < quantity; i+=500) {
        base_regular+=3.30
        base_express+=9;
      }
      shipping.express = base_express;
      shipping.regular = base_regular;     
      return shipping;
    }    

    

      $(document).on('input change', '#rangebudget', function() {
          if($(this).val() >= 300) {
            var shipping = computeShipping($(this).val());  
              var price_ht = (computeTheAmount($(this).val()));
        var html_computation_price = 'Prix : '+price_ht+' € HT ('+Math.round((computeTheAmount($(this).val()))*(1+20/100))+' € TTC) <br />'+
              'Coût unitaire : '+(price_ht/$(this).val()).toFixed(2)+' €/pièce<br />'+
              '<i>BAT & Livraison 7-10 jours non inclus</i>';

       $('#computation_price').html(html_computation_price);      
          } else {
            $('#computation_price').html('');  
          }
    });   

        </script>
  </body>

</html>
