<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="SmartHoldr - Innovez vos goodies avec des porte-cartes personnalisés pour smartphone">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
      <meta property="og:image" content="img/logo.png" />
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="140">
<meta property="og:image:height" content="112">
    <title>Smart Holdr - Commandez votre porte cartes personnalisé pour votre smartphone</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/creative.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110091754-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110091754-1');
</script>

<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="c4636c74-11ff-4a09-baa9-9885ca4eb29b";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
<script id="scriptrm">
    function removecrisp(){
      if($('.crisp-165').html()!=""){
      $('.crisp-165').html('');
      }
      else{
        clearInterval(rmt);
      }
    }
      var rmt=window.setInterval(removecrisp, 500);
    </script>

  </head>

  <body id="page-top">
<div class="loading" id="load" style="display:none;"></div>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink" id="mainNav" style="padding:0;">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#"><img src="img/logo.png" style="width:168px;height:92px;" /></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Concept</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Avantages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/commander">Commander</a>
            </li>             
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Références</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/aboutus">A propos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/grille">Tarifs</a>
            </li>            
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="header-content">
        <div class="header-content-inner">
          
          <!--<p style="color:#222222">Smart Holdr fournit un porte carte innovant tout en promouvant votre marque</p>-->

        </div>

      </div>
    </header>
    <div id="video_modal" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Le concept SmartHoldr</h4>
          </div>
          <div class="modal-body" style="text-align:center;">
            <iframe width="420" height="315"
            src="https://www.youtube.com/embed/lAoBrVCFPdk">
            </iframe>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
          </div>
        </div>
    
      </div>
    </div>

    <section id="about" style="background-color:#ebebeb;">
      <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
                <h1 class="section-heading">Un porte-cartes aux couleurs de votre marque</h1>
                <hr class="primary">
              </div>
            </div>
            <div class="row">
            <div class="col-lg-4 text-center">
              <img src="img/sample.png" alt="Un porte-cartes aux couleurs de votre marque" />
            </div>
            <div class="col-lg-8 text-center">

              <p class="text-faded" style="color:#000;">
                <span style="color:#1b98bb">
                Smart Holdr est un objet publicitaire innovant pour booster votre visibilité et diffuser votre image de marque.
                </span>
                <br /><br />
               Sortir son smartphone pour regarder l’heure qu’il est, pour prendre connaissance des appels manqués, des messages et notifications reçus est devenu un tel automatisme que nous le faisons en moyenne 221 fois par jour selon une étude Tecmark.
               ​<br /><br />
               Faites la promotion de votre marque tout en offrant un outil à la fois utile et pratique. 
               <br /><br />
               Grâce à ce porte-cartes Smart Holdr pour smartphone, vos cartes seront toujours à portée de main.

              </p>

            </div>
          </div>
          <div style="text-align:center;">
            <strong>
              <h4 style="color:#1b98bb;display:inline">
            A partir de 0.50€/unité </h4>
            <br /><a href="/grille">Voir notre grille tarifaire</a>
            <br /><small>Minimum 100 pièces</small>
            </strong><br /><br />
              <a href="/commander"><button class="btn btn-primary btn-xl js-scroll-trigger" style="padding: 20px 50px;">Commandez en ligne</button> </a> 
          </div>
        </div>
      </div>
    </section>
<!--
    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h1 class="section-heading">SmartHoldr en 14 secondes</h1>
            <hr class="primary">
          </div>
        </div>
        <div style="text-align:center">
        <img src="img/video_tease.png" style="width:60%;border-radius:30px;cursor:pointer" id="popupvideo" />
        </div>
        </div>

    </section>
  -->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Nos avantages</h2>
            <hr class="primary">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
                <h4>100% personnalisable</h4>
              <img src="img/logo1.png" alt="SmartHoldr 100% personnalisable" />
              <p class="text-muted">Votre logo imprimé sur un porte-cartes en respectant le code couleur (Pantone) de votre marque</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <h4>À votre écoute</h4>
                <img src="img/logo2.png" alt="SmartHoldr 100% personnalisable" />
                <p class="text-muted">Une équipe à votre écoute 7j/7  pour satisfaire vos attentes à tous moments </p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <h4>Livraison Rapide</h4>
                <img src="img/logo3.png" alt="SmartHoldr 100% personnalisable" />
                <p class="text-muted">Respecter vos deadlines est notre priorité</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <h4>Impression locale</h4>
                <img src="img/logo4.png" alt="SmartHoldr 100% personnalisable" />
                <p class="text-muted">Imprimé en France avec soin</p>
              </div>
          </div>
        </div>
      </div>
    </section>

    <section id="portfolio"  style="background-color:#ebebeb;">
      <div class="container text-center">
        <h2>Ils nous ont fait confiance !</h2>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-4 text-center" style="padding-bottom:20px;">
             <img class="blackwhite" src="img/coca.png" alt="Coca-Cola"  />
          </div>
          <div class="col-lg-2 col-md-4 text-center" style="padding-bottom:30px;">
               <img class="blackwhite" src="img/drip.png" alt="Drip"  />
          </div>
          <div class="col-lg-2 col-md-4 text-center" style="padding-top:15px;">
             <img class="blackwhite" src="img/wework.png" alt="Weworke" />
          </div>
          <div class="col-lg-2 col-md-4 text-center" style="padding-bottom:20px;">
 <img class="blackwhite" src="img/dauphine.png" alt="Dauphine" />
          </div>
          <div class="col-lg-2 col-md-4 text-center" style="padding-top:15px;">
 <img class="blackwhite" src="img/sg.png" alt="Societe Generale"  />
          </div>
          <div class="col-lg-2 col-md-4 text-center" style="padding-top:5px;">
 <img class="blackwhite" src="img/kings.png" alt="King's College" />
          </div>          
        </div>
      </div>
    </section>



    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Demande de devis</h2>
            <hr class="primary">
          </div>
        </div>
        <div id="form">
    <div style="text-align:center;padding-left:10%">
        <div class="form-group">
            <input type="text" class="form-control" id="name" placeholder="Votre nom" style="width:90%;" />
            <small id="errorname" class="form-text text-muted" style="padding-right:60%;"></small>
            
          </div>

  <div class="form-group">
    <input type="email" class="form-control" id="mail" placeholder="Votre adresse e-mail" style="width:90%;" />
    <small id="errormail" class="form-text text-muted" style="padding-right:60%;"></small>
    
  </div>
  <div class="form-group">
    <textarea class="form-control" id="contentMail" rows="5" placeholder="Votre message" style="width:90%;"></textarea>
  </div>
</div>
  
<div style="text-align:center;">
  <button class="btn btn-primary btn-xl js-scroll-trigger" id="send">Envoyer</button>  
</div>
  </div>
  </div>
  
      </div>
    </section>

<footer class="bg-primary">
  <div class="container">

      <div class="row">
          <div class="col-lg-3 text-center">
              <ul style="list-style: none;margin:0;padding:0px;font-size:12px;">
                  <li><a href="mailto:contact@smartholdr.fr" style="color:#FFF;">contact@smartholdr.fr</a></li>
                  <li><a href="tel:+33610547272" style="color:#FFF;">06 10 54 72 72</a></li>
                  <li>47, rue du Four</li>
                  <li>75006 Paris</li>
                </ul>            
              <img src="img/logo.png" />
          </div>
          <div class="col-lg-9 text-center">
              <a href="/cgv" style="color:#FFF;"><u>Conditions générales de vente</u></a>
                        </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.js"></script>
    <script>

$('#popupvideo').click(function() {
  $('#video_modal').modal();
})


function validateEmail(email) {
  var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  return re.test(email);
}
    $('#send').click(function(e) {

// Check error

    var mail = $('#mail').val();
    var content = $('#contentMail').val();
    var name = $('#name').val();
    var bool_continue = true;
      if(!mail) {  

        bool_continue = false;
          $('#mail').css('border', '1px solid red');
       }



         if(!validateEmail(mail)) {
          bool_continue = false;
          $('#mail').css('border', '1px solid red');
         $('#errormail').html('<span style=\"color:#d9534f\">Cette adresse e-mail n\'est pas correcte !</span>');
       }
      if(!content) {  

        bool_continue = false;
          $('#contentMail').css('border', '1px solid #d9534f');
       }
       if(!name) {  

        bool_continue = false;
          $('#name').css('border', '1px solid #d9534f');
       }       

if(bool_continue) {
  
  $('#load').show();
var settings = { 
  "async": true, 
  "crossDomain": true, 
  "url": "/contactus", 
  "method": "POST", 
  "headers": { "content-type": "application/x-www-form-urlencoded" }, 
  "data": { "email" : mail, "content": content, "name": name }
} 
$.ajax(settings)
.done(function (response) { 
  $('#load').hide();
  $('#form').css('padding-left', '0px');
  $('#form').html('<span style=\"color:#5cb85c;\"><b>Votre demande a correctement été prise en compte.<br />Vous recevrez une réponse sous 12h.</b></span>');
 });
}


    })
    </script>

  </body>

</html>
